.btn {
  font-family: $font-first;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  border: none;

  &.btn-outline-secondary {
    color: $color-secondary;
    background: transparent;
    border: solid 1px $color-secondary;

    &:hover {
      color: white;
      background: $color-secondary;
    }

    &:active {
      color: white;
      background: darken($color-secondary, 10);
      border-color: darken($color-secondary, 10);
    }
  }

  &.btn-md {
    padding: 6.5px 24px;
    font-weight: 500;
    font-size: 11px;
    border-radius: 14px;
  }

  // &.btn-primary {
  //   color: white;
  //   background: $color-primary;

  //   &:hover {
  //     color: white;
  //     background: #cd380c;
  //   }

  //   &:active {
  //     color: white;
  //     background: #a92f0b;
  //   }
  // }

  // &.btn-tertiary {
  //   color: $color-grey-900;
  //   background: white;
  //   border: solid 1px $color-grey-150;

  //   &:hover {
  //     color: #063f52;
  //     background: #abecff;
  //     border-color: #abecff;
  //   }

  //   &:active {
  //     color: white;
  //     background: $color-secondary;
  //     border-color: $color-secondary;
  //   }
  // }

  // &.btn-outline-primary {
  //   color: $color-primary;
  //   border: solid 2px $color-primary;

  //   &:hover {
  //     color: white;
  //     background: $color-primary;
  //   }

  //   &:active {
  //     color: white;
  //     background: #a92f0b;
  //     border-color: #a92f0b;
  //   }
  // }

  // &.btn-outline-secondary {
  //   color: $color-secondary;
  //   background: white;
  //   border: solid 2px $color-secondary;

  //   &:hover {
  //     color: white;
  //     background: #28a2ca;
  //     border-color: #28a2ca;
  //   }

  //   &:active {
  //     color: white;
  //     background: #146b87;
  //     border-color: #146b87;
  //   }
  // }

  // &.btn-link {
  //   display: inline-flex;
  //   align-items: center;
  //   padding: 0;

  //   .icon-left {
  //     margin-right: 4px;
  //   }

  //   .icon-right {
  //     margin-left: 4px;
  //   }
  // }

  // &.btn-link-primary {
  //   color: $color-secondary;

  //   &:hover {
  //     color: $color-azure-650;
  //   }

  //   &:active {
  //     color: $color-azure-900;
  //   }
  // }

  // &.btn-link-secondary {
  //   color: #292e2f;

  //   &:hover {
  //     color: #28a2ca;
  //   }

  //   &:active {
  //     color: #063f52;
  //   }
  // }

  // &.btn-danger {
  //   color: $color-red-450;
  //   background: white;
  //   border: solid 1px $color-grey-150;

  //   &:hover {
  //     color: $color-red-650;
  //     background: $color-red-50;
  //     border-color: $color-red-650;
  //   }

  //   &:active {
  //     color: $color-red-700;
  //     background: $color-red-250;
  //     border-color: $color-red-700;
  //   }
  // }

  // &.btn-sm {
  //   display: inline-flex;
  //   align-items: center;
  //   justify-content: center;
  //   min-height: 32px;
  //   padding: 7px 16px;
  //   border-radius: 4px;
  //   font-size: 12px;
  //   line-height: 1;

  //   .icon-holder {
  //     width: 12px;
  //     height: 12px;

  //     img,
  //     svg {
  //       width: 100%;
  //       height: 100%;
  //       object-fit: contain;
  //     }
  //   }

  //   .icon-left {
  //     margin-right: 4px;
  //   }

  //   .icon-right {
  //     margin-left: 4px;
  //   }
  // }

  // &.btn-md {
  //   display: inline-flex;
  //   align-items: center;
  //   justify-content: center;
  //   min-height: 44px;
  //   padding: 10px 28.3px;
  //   border-radius: 8px;
  //   font-size: 14px;

  //   .icon-holder {
  //     width: 16px;
  //     height: 16px;

  //     img,
  //     svg {
  //       width: 100%;
  //       height: 100%;
  //       object-fit: contain;
  //     }
  //   }

  //   .icon-left {
  //     margin-right: 4px;
  //   }

  //   .icon-right {
  //     margin-left: 4px;
  //   }
  // }

  // &.btn-lg {
  //   display: inline-flex;
  //   align-items: center;
  //   justify-content: center;
  //   padding: 16px 18px;
  //   font-size: 16px;
  //   border-radius: 8px;

  //   .icon-holder {
  //     width: 20px;
  //     height: 20px;

  //     img {
  //       width: 100%;
  //       height: 100%;
  //       object-fit: contain;
  //     }
  //   }

  //   .icon-left {
  //     margin-right: 8px;
  //   }
  // }

  // // btn icons

  // &.btn-icon {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  // }

  // &.btn-icon-md {
  //   width: 44px;
  //   min-width: 44px;
  //   height: 44px;
  //   padding: 4px;
  //   border-radius: 8px;
  // }

  // &.btn-icon-sm {
  //   width: 32px;
  //   min-width: 32px;
  //   height: 32px;
  //   padding: 1px;
  //   border-radius: 4px;

  //   .icon-holder {
  //     width: 14px;
  //     height: 14px;
  //   }
  // }

  // .icon-holder {
  //   display: inline-flex;

  //   img,
  //   svg {
  //     width: 100%;
  //     height: 100%;
  //     object-fit: contain;
  //   }
  // }

  // &:disabled,
  // &.disabled,
  // &.swiper-button-disabled {
  //   color: white;
  //   background: $color-grey-200;
  //   border-color: $color-grey-200;
  //   pointer-events: none;
  // }
}
