.card {
  opacity: 0;
  font-size: 16px;
  background: white;

  @include media("<sm") {
    font-size: 14px;
  }

  .img-holder {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  p {
    margin-bottom: 8px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    font-size: 14px;

    @include media("<md") {
      gap: 12px;
    }

    li {
      &.likes,
      &.comments {
        &::before {
          content: "";
          display: block;
          width: 18px;
          height: 18px;
          flex-shrink: 0;
          background-repeat: no-repeat;
        }

        display: flex;
        align-items: center;
        gap: 6px;
      }

      &.likes {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 6.29999C1.49991 5.76177 1.6071 5.22893 1.8153 4.7326C2.02351 4.23628 2.32855 3.78644 2.71261 3.40936C3.09667 3.03229 3.55203 2.73555 4.05209 2.53648C4.55215 2.33742 5.08687 2.24003 5.625 2.24999C6.26172 2.24661 6.89189 2.37859 7.47374 2.6372C8.05559 2.8958 8.57584 3.27511 9 3.74999C9.42416 3.27511 9.94441 2.8958 10.5263 2.6372C11.1081 2.37859 11.7383 2.24661 12.375 2.24999C12.9131 2.24003 13.4479 2.33742 13.9479 2.53648C14.448 2.73555 14.9033 3.03229 15.2874 3.40936C15.6714 3.78644 15.9765 4.23628 16.1847 4.7326C16.3929 5.22893 16.5001 5.76177 16.5 6.29999C16.5 10.317 11.7157 13.35 9 15.75C6.29025 13.3297 1.5 10.32 1.5 6.29999Z' fill='black'/%3E%3C/svg%3E%0A");
        }
      }

      &.comments {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5 3C16.5 2.175 15.825 1.5 15 1.5H3C2.175 1.5 1.5 2.175 1.5 3V12C1.5 12.825 2.175 13.5 3 13.5H13.5L16.5 16.5V3Z' fill='black'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }

  .upload-date {
    font-size: 14px;
  }

  .list & {
    display: flex;
    align-items: center;

    .img-holder {
      width: 86px;
      height: 86px;
      flex-shrink: 0;
    }

    .content-holder {
      display: flex;
      flex-grow: 1;
      padding: 16px 16px 16px 30px;

      @include media("<md") {
        padding: 12px;
      }

      @include media("<sm") {
        flex-wrap: wrap;
      }

      .content-col {
        &:nth-child(1) {
          width: 40%;

          @include media("<sm") {
            width: 50%;
          }
        }

        &:nth-child(2) {
          width: 38%;

          @include media("<sm") {
            width: 50%;

            display: flex;
            justify-content: flex-end;
          }
        }

        &:nth-child(3) {
          width: 22%;

          @include media("<sm") {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-top: 20px;
          }

          p {
            @include media("<sm") {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  .grid & {
    .img-holder {
      position: relative;
      padding-bottom: 100%;

      img {
        position: absolute;
      }
    }

    .content-holder {
      display: flex;
      flex-wrap: wrap;
      padding: 12px;

      .content-col {
        &:nth-child(1),
        &:nth-child(2) {
          width: 50%;
        }

        &:nth-child(2) {
          display: flex;
          justify-content: flex-end;
        }

        &:nth-child(3) {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          p {
            margin-bottom: 0;
          }
        }
      }
    }

    ul {
      flex-direction: column;
      gap: 6px;
      margin-bottom: 24px;
    }

    .upload-date {
      font-size: 12px;
    }
  }

  &.fade-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.4s ease forwards;
  }

  @keyframes fadeUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
