/* header */
.site-header {
  position: relative;
  padding-top: 6px;
  padding-bottom: 30px;
  background: #ffffffab;
  box-shadow: 0px 4px 24px 0px #0000001f;
  z-index: 100;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    box-shadow: 0px 12px 24px 0px #0000001f inset;
  }

  .content-holder {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 86px;
    z-index: 1;

    @include media(">=sm") {
      padding-top: 20px;
    }

    @include media("<md") {
      gap: 40px;
    }

    @include media("<sm") {
      flex-direction: column;
    }

    .logo {
      display: inline-flex;
      width: 100%;
      max-width: 138px;

      img {
        width: 100%;
        height: auto;
      }
    }

    .title-holder {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-bottom: 16px;

      @include media("<sm") {
        flex-direction: column;
      }

      .header-title {
        margin-bottom: 0;
        font-family: $font-second;
        font-weight: 500;
        font-size: 24px;
      }
    }

    ul {
      margin: 0 0 19px 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 17px;

      @include media("<sm") {
        justify-content: center;
        gap: 12px;
      }

      li {
        &:first-child {
          margin-right: 11px;
        }

        p {
          margin-bottom: 0;
        }
      }
    }

    .datepickers {
      display: flex;
      align-items: center;
      font-size: 14px;

      @include media("<sm") {
        flex-direction: column;
        gap: 20px;
      }

      p {
        margin-bottom: 0;

        @include media(">=sm") {
          margin-right: 11px;
        }
      }

      .input-datepicker {
        @include media(">=sm") {
          max-width: 162px;
        }

        @include media("<sm") {
          width: 100%;
        }

        &:last-child {
          @include media(">=sm") {
            margin-left: 22px;
          }
        }
      }
    }
  }

  .open-menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    width: 2.4rem;
    height: 2.4rem;
    display: block;
    font-size: 0;
    line-height: 0;
    z-index: 100;

    @include media(">=lg") {
      display: none;
    }

    @include media("<md") {
      right: 2.4rem;
    }

    span {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      background: white;
      border-radius: 0;
      height: 0.2rem;
      transition: $transition;

      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          @if ($i == 1) {
            margin-top: -1rem;
          }
          @if ($i == 2) {
            margin-top: -0.1rem;
          }
          @if ($i == 3) {
            margin-top: 0.8rem;
          }
        }
      }

      .menu-opened & {
        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            @if ($i == 1) {
              margin-top: 0;
              transform: rotate(45deg);
            }
            @if ($i == 2) {
              opacity: 0;
              // transform: translateX(50%);
            }
            @if ($i == 3) {
              margin-top: 0;
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }
}
